<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Serviços</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Cadastro de Serviços</h1>
        </div>
    </header>
    <div class="container">
        <main id="mainContent">
            <form id="cadastroServicosForm">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" required>
                <label for="descricao">Descrição:</label>
                <input type="text" id="descricao" required>
                <label for="preco">Preço:</label>
                <input type="number" id="preco" required>
                <button type="submit">Cadastrar</button>
            </form>
        </main>
    </div>
    <footer>
        <p>&copy; 2024 Nome da Empresa. Todos os direitos reservados.</p>
    </footer>
    <script src="../scripts/servicos.js"></script>
</body>
</html>
